<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head th:include="header :: header" th:with="title='GamingEnvironment - create'"></head>


<body>

<nav th:replace="navigation :: navigation(URL_GAMINGENVIRONMENTS)"></nav>

<div th:replace="loginfirst :: copy"></div>

<div class="ui segment" sec:authorize="isAuthenticated()">

    <form class="ui form" method="POST" th:attr="action=@{/gamingEnvironments/edit/create/}">
        <h2 class="ui dividing header" th:text="#{gamingEnvironment.createNewGamingEnvironment}">gamingEnvironment.createNewGamingEnvironment</h2>

        <div class="inline field" th:classappend="${result?.fieldHasError('workingTitle')} ? 'error' : ''">
            <label th:text="#{gamingEnvironment.workingTitle}"></label>
            <input type="text" name="workingTitle" th:value="${workingTitle}"/>
        </div>

        <button class="ui button" type="submit">create gaming environment</button>
    </form>

</div>

<div class="ui segments" th:if="${result}">
    <div class="ui segment">
        <p class="ui red label">Errors</p>
    </div>
    <div class="ui segments">
        <div class="ui segment" th:each="error: ${result.errors}">
            <span th:text="#{${error.messageName}}"></span>
            <br/>
            <span style="font-size: 80%;" th:text="${' (' + error.context.field + ')'}"></span>
        </div>
    </div>
</div>

<div th:replace="footer :: copy"></div>


</body>
</html>
