<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header" th:with="title='Gaming Environment - One'"></head>

<body>

<nav th:replace="navigation :: navigation(URL_GAMINGENVIRONMENTS)"></nav>

<div class="ui segment">

    <h2 class="ui top attached header" th:text="${gamingEnvironment.workingTitle}"/>
    <h4 class="ui attached header" th:text="#{gamingEnvironment.basicdata}"></h4>
    <div class="ui attached segment">
        <div><label>workingTitle:</label> <span th:text="${gamingEnvironment.workingTitle}"/></div>
        <div><label>yearOfFirstRelease:</label><span th:text="${gamingEnvironment.yearOfFirstRelease}"/></div>
        <div><label>changeTime</label> <span th:text="${gamingEnvironment.changeTime}"/></div>
    </div>


    <th:block th:if="${gamingEnvironment.hardwarePlatform}">
        <h4 class="ui attached header" th:text="#{gamingEnvironment.hardwarePlatform}"></h4>

        <div class="ui attached segment" th:if="${gamingEnvironment.hardwarePlatform}">
            <div>
                <span th:text="${gamingEnvironment.hardwarePlatform.workingTitle}">hpf</span>
                <th:block th:if="${gamingEnvironment.hardwarePlatform.hardwarePlatformType}">
                (<span th:text="#{'' + ${gamingEnvironment.hardwarePlatform.hardwarePlatformType}}">hptype</span>)
                </th:block>
            </div>
        </div>

        <th:block th:if="${gamingEnvironment.hardwarePlatform.hardwareModelSet.size()>0}">
            <h4 class="ui attached header" th:text="#{gamingEnvironment.hardwareModels}"></h4>

            <div class="ui attached segment">
                <div th:each="hm : ${gamingEnvironment.hardwarePlatform.hardwareModelSet}">
                    <span th:text="${hm.workingTitle}">hpm</span>
                    <th:block th:if="${hm.hardwareModelType!=null && hm.hardwareModelType != ''}">
                        (<span th:text="#{'' + ${hm.hardwareModelType}}">hmt</span>)
                    </th:block>
                </div>
            </div>

        </th:block>
    </th:block>

    <div class="ui grey inverted top attached header" th:text="#{common.actions}"/>
    <div class="ui attached segment">
        <a th:if="${gamingEnvironment.yearOfFirstRelease == null}" th:href="${'/gamingEnvironments/edit/' + gamingEnvironment.id + '/addYearOfFirstRelease'}">
            <button class="ui primary basic button" th:text="#{gamingEnvironment.addYearOfFirstRelease}"/>
        </a>
        <a th:if="${gamingEnvironment.yearOfFirstRelease != null}" th:href="${'/gamingEnvironments/edit/' + gamingEnvironment.id + '/changeYearOfFirstRelease'}">
            <button class="ui primary basic button" th:text="#{gamingEnvironment.changeYearOfFirstRelease}"/>
        </a>


        <a th:if="${gamingEnvironment.hardwarePlatform == null}" th:href="${'/gamingEnvironments/edit/' + gamingEnvironment.id + '/addNewHardwarePlatform'}">
            <button class="ui primary basic button" th:text="#{gamingEnvironment.addNewHardwarePlatform}"/>
        </a>


        <!--<a th:if="${gamingEnvironment.hardwarePlatform}" th:href="${'/hardwarePlatforms/' + gamingEnvironment.hardwarePlatform.id + '/addNewHardwareModel?gamingEnvironmentId=' + gamingEnvironment.id}">-->
        <a th:if="${gamingEnvironment.hardwarePlatform}" th:href="${'/gamingEnvironments/edit/' + gamingEnvironment.id + '/addHardwareModel'}">
            <button class="ui primary basic button" th:text="#{gamingEnvironment.addNewHardwareModel}"/>
        </a>

    </div>


    <div class="ui grey inverted top attached header" th:text="#{common.references}"/>
    <!-- ################  references   ################################## -->
    <div th:each="entry : ${referenceMap}" class="ui attached segment">
        <span th:text="${entry.value.referenceType}"></span>
        <a th:if="${entry.value.url}" th:href="${entry.value.url}" target="_blank" th:text="${entry.value.url}"></a>
    </div>

</div>




<div class="ui segment">
    <div class="ui grey inverted top attached header" th:text="#{common.events}"/>

    <table class="ui celled table" border="1">
        <thead>
            <th>Timestamp / EventType</th>
            <th>User</th>
            <th>EventId</th>
            <th>Change</th>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td style="vertical-align: top;">
               <span th:text="${event.key}"></span>
                <br/>
                <span
                        class="ui teal label"
                        th:text="${event.getValue().get('PayloadTypeSimple')}"
                ></span>
            </td>
            <td style="vertical-align: top;">
                <span th:text="${event.value.get('username')}"></span>
            </td>
            <td style="vertical-align: top;">
                <span th:text="${event.value.get('Identifier')}"></span>
            </td>
            <td>
                <pre style="margin:0px;"><span class="ui" th:text="${event.value.get('PayloadToString').trim()}"
                /></pre>
                <!-- <div class="ui attached segment" th:text="${event.value}"/> -->
            </td>
        </tr>
        </tbody>
    </table>

    <!--
    <div th:each="event : ${events}" class="ui attached segment">
        <div class="ui attached segment" th:text="${event.key}"/>
        <div class="ui attached segment" th:text="${event.value.get('Identifier')}"/>
        <div class="ui attached segment" th:text="${event.value}"/>

    </div>
    <div th:each="event : ${events}" class="ui attached segment">
        <span th:text="${event.toString()}"/>
    </div>
    -->
</div>

<div class="ui segment" th:if="${(param.json != null) and (param.json[0] == 'true')}">
    <div class="ui grey inverted top attached header" th:text="#{common.events} + ' (Json)'"/>
    <div class="ui attached segment">
        <span th:text="${eventsJson.toString()}"/>
    </div>
</div>



<div th:replace="footer :: copy"></div>

</body>
</html>
