<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header" th:with="title='Gaming Environment - One'"></head>

<body>

<nav th:replace="navigation :: navigation(URL_GAMINGENVIRONMENTS)"></nav>

<div class="ui segment">

    <h2 class="ui top attached header" th:text="${gamingEnvironment.workingTitle}"/>
    <h4 class="ui attached header" th:text="#{gamingEnvironment.basicdata}"></h4>
    <div class="ui attached segment">
        <div><label>workingTitle:</label> <span th:text="${gamingEnvironment.workingTitle}"/></div>
        <div><label>yearOfFirstRelease:</label><span th:text="${gamingEnvironment.yearOfFirstRelease}"/></div>
        <div><label>changeTime</label> <span th:text="${gamingEnvironment.changeTime}"/></div>
    </div>


    <h4 class="ui attached header" th:text="#{gamingEnvironment.hardwarePlatform}" th:if="${gamingEnvironment.hardwarePlatform}"></h4>

    <div class="ui attached segment" th:if="${gamingEnvironment.hardwarePlatform}">
        <div>
            <span th:text="${gamingEnvironment.hardwarePlatform.workingTitle}">hpf</span>
        </div>
    </div>

    <div class="ui grey inverted top attached header" th:text="#{common.actions}"/>
    <div class="ui attached segment">
        <a th:if="${gamingEnvironment.yearOfFirstRelease == null}" th:href="${'/gamingEnvironments/' + gamingEnvironment.id + '/addYearOfFirstRelease'}">
            <button class="ui primary basic button" th:text="#{gamingEnvironment.addYearOfFirstRelease}"/>
        </a>
        <a th:if="${gamingEnvironment.yearOfFirstRelease != null}" th:href="${'/gamingEnvironments/' + gamingEnvironment.id + '/changeYearOfFirstRelease'}">
            <button class="ui primary basic button" th:text="#{gamingEnvironment.changeYearOfFirstRelease}"/>
        </a>
        <a th:if="${gamingEnvironment.hardwarePlatform == null}" th:href="${'/gamingEnvironments/' + gamingEnvironment.id + '/addNewHardwarePlatform'}">
            <button class="ui primary basic button" th:text="#{gamingEnvironment.addNewHardwarePlatform}"/>
        </a>

    </div>

</div>


<div class="ui segment">
    <div class="ui grey inverted top attached header" th:text="#{common.events}"/>

    <table class="ui celled table" border="1">
        <thead>
            <th>Timestamp</th>
            <th>User</th>
            <th>Change</th>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td>
               <span th:text="${event.key}"></span>
            </td>
            <td>
                <!--
                <span th:text="${event.value.get('MetaData').get('userId')}"></span>
                -->
                <span th:text="${event.value.get('username')}"></span>
            </td>
            <td>
                <strong><span class="ui teal label" th:text="${event.getValue().get('PayloadTypeSimple')}"></span></strong>
                <span class="ui" th:text="${event.value.get('PayloadToString')}"/>
                <!-- <div class="ui attached segment" th:text="${event.value}"/> -->
            </td>
        </tr>
        </tbody>
    </table>

    <!--
    <div th:each="event : ${events}" class="ui attached segment">
        <div class="ui attached segment" th:text="${event.key}"/>
        <div class="ui attached segment" th:text="${event.value.get('Identifier')}"/>
        <div class="ui attached segment" th:text="${event.value}"/>

    </div>
    <div th:each="event : ${events}" class="ui attached segment">
        <span th:text="${event.toString()}"/>
    </div>
    -->
</div>

<div class="ui segment" th:if="${(param.json != null) and (param.json[0] == 'true')}">
    <div class="ui grey inverted top attached header" th:text="#{common.events} + ' (Json)'"/>
    <div class="ui attached segment">
        <span th:text="${eventsJson.toString()}"/>
    </div>
</div>



<div th:replace="footer :: copy"></div>

</body>
</html>
