<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: header" th:with="title='Hardware Platforms - One'"></head>

<body>

<nav th:replace="navigation :: navigation(URL_HARDWAREPLATFORMS)"></nav>

<div class="ui segment">

    <h2 class="ui top attached header" th:text="${hardwarePlatform.workingTitle}"/>
    <h4 class="ui attached header" th:text="#{hardwarePlatform.basicdata}"></h4>
    <div class="ui attached segment">
        <div><label>workingTitle:</label> <span th:text="${hardwarePlatform.workingTitle}"/></div>
        <div><label>changeTime</label> <span th:text="${hardwarePlatform.changeTime}"/></div>
    </div>

    <div class="ui grey inverted top attached header" th:text="#{common.actions}"/>
    <div class="ui attached segment">
    </div>

</div>


<div class="ui segment">
    <div class="ui grey inverted top attached header" th:text="#{common.events}"/>
    <div th:each="event : ${events}" class="ui attached segment">
        <span th:text="${event.toString()}"/>
    </div>
</div>



<div th:replace="footer :: copy"></div>

</body>
</html>
