<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<body>

<div th:fragment="copy" style="text-align: left;width: 100%; display: block;">
    <br clear="all"/>
    <div class="footer">
        &copy; 2017 oregami.org
    </div>

    <span id="debug">debug</span>

    <div class="ui segment" th:if="${loggedIn}">
        <div class="ui olive inverted top attached header" th:text="#{common.auth}"/>
        <div class="ui attached segment">

            <div th:text="'#authentication.name: ' + ${#authentication.name}"/>
            <hr/>
            <div th:text="'#authentication: ' + ${#authentication}"></div>
            <hr/>
            loggedIn: <span th:text="${loggedIn}"></span>
            <hr/>
            userId: <span th:text="${userId}"></span>
            <hr/>
            userName: <span th:text="${userName}"></span>
            <hr/>
            <a href="/logout">logout</a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="${@environment.getProperty('keycloak.auth-server-url') + '/realms/oregami/account'}">profile</a>

        </div>
    </div>
</div>


</body>

</html>
